h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
}
nav ul, nav ol {
    list-style: none;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 400px;
    width: 1000px;
}
header {
    padding: 0 20px;
}
header h1 {
    text-align: center;
    font-size: 1vw;
    margin-bottom: 0;
    background: silver;
    padding: 50px 20px;
}
main {
    margin-top: 60px;
    padding: 0 10px;
}
section {
    padding: 20px 10px;
}
.column, .double {
    padding: 0 10px;
}
footer {
    margin: 0 20px;
    padding: 30px;
    background: silver;
}
h1, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 1em;
    text-transform: uppercase;
}
p {
    line-height: 1.4em;
    margin-bottom: 1em;
}
footer p {
    margin-bottom: 0;
    text-align: center;
    font-size: 2em;
}
.flexslider {
    margin: 0 20px;
    border: none;
    border-radius: 0;
}
.flex-control-paging li a.flex-active {
    background: rgb(1, 53, 1);
}
.slide1 {
    background: url('file:///C:/Users/DAMILARE/Desktop/html%20,%20css%20javascript%20practice/jjj/Javascript%20practice/jQuery/Flex%20Slider/advanced%20slider/images/Bags%20(green).jpg') top left no-repeat;
}
.slide2 {
    background: url('file:///C:/Users/DAMILARE/Desktop/html%20,%20css%20javascript%20practice/jjj/Javascript%20practice/jQuery/Flex%20Slider/advanced%20slider/images/bags%20(white).jpg') top left no-repeat;
}
.slide3 {
    background: url('file:///C:/Users/DAMILARE/Desktop/html%20,%20css%20javascript%20practice/jjj/Javascript%20practice/jQuery/Flex%20Slider/advanced%20slider/images/books.jpg') top left no-repeat;
}
.slide4 {
    background: url('file:///C:/Users/DAMILARE/Desktop/html%20,%20css%20javascript%20practice/jjj/Javascript%20practice/jQuery/Flex%20Slider/advanced%20slider/images/note%20card.jpg') top left no-repeat;
}
.slide5 {
    background: url('file:///C:/Users/DAMILARE/Desktop/html%20,%20css%20javascript%20practice/jjj/Javascript%20practice/jQuery/Flex%20Slider/advanced%20slider/images/purses.jpg') top left no-repeat;
}
.slides li div {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 80%;
    background-size: cover;
}
.slides li div h2 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: burlywood;
}
.cta {
    display: flex;
    align-items: center;
    height: 25vw;
    width: 25vw;
    position: absolute;
    right: 20px;
    bottom: 100%;
    background: white;
    border-radius: 50%;
    border: 5px solid rgb(1, 53, 1);
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4vw;
    color: black;
}
.light {/* OPTIONAL */
    color: rgb(167, 165, 165);
}
@media only screen and (min-width: 600px) {
    main {
        display: flex;
    }
    .column {
        flex: 1;
    }
    .cta {
        width: 20vw;
        height: 20vw;
        font-size: 3vw;
    }
}
@media only screen and (min-width: 1000px) {
    #page {
        max-width: 1000px;
        margin: auto;
    }
    header h1 {
        font-size: 6vw;
    }
    .cta {
        height: 200px;
        width: 200px;
        font-size: 24px;
    }
}