body p {
    margin: 0;
    padding: 0;
}
body {
    padding: 100px;
    background: #000;
}
#content {
    margin: 100px auto 20px auto;
    border: 10px solid #4c4c4c;
    width: 400px;
    height: 266px;
    position: relative;
}
#content img {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    height: 266px;
}
p {
    text-align: center;
}
/**** LINK STYLE ****/
#links {
    width: 420px;
    display: flex;
    margin: auto;
}
#links a {
    display: block;
    flex: 1;
    background: maroon;
    line-height: 50px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
}
#links a:hover {
    background: brown;
    color: #fff;
}
/**** ANIMATION STYLES ****/
.fadeinimg {
    animation: fadein 2s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}